/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.image {
    display: inline-block;
    height: 150px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top: 4em;
  }
.wrapper {
    display: grid;
    justify-content: center;
    align-content: center;
  }

  .box{
    position: relative;
    background: #f2f3f7;
    margin-top: 4em;
    margin-left: 4em;
    padding: 0.5em;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
